extends layout

block content
  h1 Welcome to Naive search!
  p This project demonstrates the use of Amazon Aurora and integration of various AWS services.

  form(action='search')
    input(type='text', placeholder='Search Query', name='query')
    input(type='submit')