extends layout

block content
  h1 Naive search results
  if results.length
    ul
      each result in results
        li
          h2= result.title
          a(href=result.url)= result.url
          p= result.description

    if typeof prev !== 'undefined'
      a(href='search?query=' + query + '&offset=' + prev) Previous page
      |
    if typeof next !== 'undefined'
      a(href='search?query=' + query + '&offset=' + next) Next page
  else
    h2 No results